<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDhqkqZCuGmXoI5XGlArCjM6hXY9J9t18k</string>
	<key>GCM_SENDER_ID</key>
	<string>300753188941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.infumedz.app</string>
	<key>PROJECT_ID</key>
	<string>infusionmedzapp</string>
	<key>STORAGE_BUCKET</key>
	<string>infusionmedzapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300753188941:ios:3ed6ec83f9d2365a894404</string>
</dict>
</plist>